<% include ./partials/header %>

<div class="container mt-4">
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-9">
      <div class="card shadow border-0">
        <div class="card-body">
          <h1 class="text-center">About Barter</h1>
          <h3>What is Barter?</h3>
          <hr />
          <p>
            <strong class="text-dark">Barter</strong> is a bartering app. Users
            can post their own items or comment on others' posts. To get
            started, simply <a href="/register">sign up</a>.
          </p>
          <p>
            This app was created to aid the people who are shopping online but
            with the use of bartering.
          </p>
          <h3>Features</h3>
          <hr />
          <ul>
            <li>Users can create, edit, and remove posts</li>
            <li>
              Users can comment on a post once, and edit or remove their comment
            </li>
            <li>
              User profiles have more information on the user, such as their
              full name, phone number, join date, posts, and the option to edit
              their profile or delete their account
            </li>
            <li>Search an item by name or location</li>
            <li>Sort items by lowest price or highest price</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>

<% include ./partials/footer %>
